# Ignorar carpetas de compilación
**/target/
**/bin/
**/.settings/

# Ignorar archivos temporales
*.class
*.jar
*.war
*.log

# Mantener configuraciones IDE, pero ignorar caché
.idea/*
!.idea/runConfigurations/
!.idea/misc.xml
!.idea/modules.xml
!.idea/compiler.xml